<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/Widgets/SmallWidget.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/Widgets/MediumWidget.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/Widgets/LargeWidget.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>Widgets</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/Provider/SmallProvider.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/Provider/MediumProvider.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/Provider/LargeProvider.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>Provider</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>Widgets/AppEntity/WidgetEntityQuery/WidgetEntityQuerySmall.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>Widgets/AppEntity/WidgetEntityQuery/WidgetEntityQueryMedium.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>Widgets/AppEntity/WidgetEntityQuery/WidgetEntityQueryLarge.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>WidgetEntityQuery</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/AppEntity/CountdownEntityQuerySmall.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/AppEntity/CountdownEntityQueryMedium.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Widgets/AppEntity/CountdownEntityQueryLarge.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>AppEntity</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Widgets/ModelHelper.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Widgets/WidgetsBundle.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Widgets/AppIntent.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Widgets/Assets.xcassets</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Widgets/Info.plist</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Widgets/CountdownModelProtocol.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Widgets</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
